<div class="container">
        <div class="row">
          <p class="title">Transaction Details Form</p>  
          <div class="col-xs-12 formwrapper" ng-controller="transactionDetailsCtrl">
            <form class="form-horizontal" name="transactionForm" ng-submit="transactionList()">    
                <div class="form-group">
                    <label for="Category" class="col-xs-2">Category</label>
                    <div class="col-xs-4">
                        <select id="Payee" class="form-control" ng-change="showDate()" ng-model="Category">
                            <option value="" selected="selected">All</option>
                            <option value="Current">Current</option>
                            <option value="Monthly">Monthly</option>
                            <option value="Periodically">Periodically</option>
                        </select>
                    </div>
                </div>

                <div class="form-group" ng-show="displayDateFlag">
                    <label for="date" class="col-xs-2">From Date<span class="mandatory">*</span></label>
                    <div class="col-xs-4">
                        <input type="date" class="form-control" min="2000-01-02" id="fromdate" ng-model="fromdate" placeholder="From Date" />
                    </div>
                    <label for="date" class="col-xs-2">To Date<span class="mandatory">*</span></label>
                    <div class="col-xs-4">
                        <input type="date" class="form-control" min="2000-01-02" id="todate" ng-model="todate" placeholder="To Date" />
                    </div>
                </div>    
        
                <div class="form-group">
                    <label for="spend_category" class="col-xs-2">Spend Category</label>
                    <div class="col-xs-4">
                        <select id="spend_category" class="form-control" ng-model="spend_category">
                            <option value="" selected="selected">All</option>
                            <option value="Medical">Medical</option>
                            <option value="Travel">Travel</option>
                            <option value="Loans">Loans</option>
                            <option value="Utility Bill">Utility Bills</option>
                            <option value="Education">Education</option>
                            <option value="Shopping">Shopping</option>
                            <option value="Misc">Misc</option>
                        </select>
                    </div>
                </div>
                       
                <div class="col-xs-10 btn-wrapper">
                    <button type="submit" class="btn btn-primary">Load Data</button> 
                    <button type="reset" class="btn btn-default">Reset</button>
                </div>
            </form>  
          </div>
        </div>

        <div class="row"> 
            <p class="title">Transactions List</p> 
            <div class="col-sm-2 grid-heading">Trans. Description</div>
            <div class="col-sm-2 grid-heading">Spend Category</div>
            <div class="col-sm-2 grid-heading">Amount</div>
            <div class="col-sm-3 grid-heading">Date</div>
            <div class="col-sm-3 grid-heading">Payment Type</div>
    
            <div ng-controller="transactionDetailsCtrl">
                <div ng-repeat="pl in transList">
                    <div class="col-sm-2 grid-data">{{pl.transactionDescription}}</div>
                    <div class="col-sm-2 grid-data">{{pl.spendCategory}}</div>
                    <div class="col-sm-2 grid-data">{{pl.amount}}</div>
                    <div class="col-sm-3 grid-data">{{pl.date}}</div>
                    <div class="col-sm-3 grid-data">{{pl.paymentType}}</div>
                </div>
            </div>
        </div>
    </div>